.env
.env*.local
config.json
.git
.claude
.github
.husky
.next
.swc
.vscode
node_modules
scratch
coverage
out
build
*.tsbuildinfo
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
